body {
    background-color: black;
    color: yellow;
    font-size: x-large;
    display: flex;
    width: 600px;
    height: 300px;
    margin-top: 30px;
}

#redCorner {
    background-color: red;
    height: 300px;
    width: 300px;
    margin: 15px;
}

#blueCorner {
    background-color: blue;
    height: 300px;
    width: 300px;
    margin: 15px;
}

#announcementBox {
    background-color: gold;
    width: 800px;
    height: 200px;
    margin-left: 170px;
    margin-bottom: 50px;
    color: black;
}

button {
    background-color: gray;
    color: yellow;
    margin: 10px;
}

div {
    color: red;
}